$--color-primary: rgb(231,90,22);

$--color-danger:rgb(238, 48, 67);

$--color-success: rgb(127,183,98);

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";